# 파이썬 기초
## 기본자료구조

In [3]:
# 변수 선언
a = 1

# 출력을 위해서는 print를 사용
print(a)

1

In [4]:
# 숫자형 int
a = 1
print(type(a))

<class 'int'>

In [5]:
# 문자형 str 
b = 'test'
print(type(b))

<class 'str'>

In [6]:
# 실수형 float
c = 2.35
print(type(c))

<class 'float'>

## 리스트, 딕셔너리
1. 리스트

In [7]:
# 여러가지 변수들을 저장하는 폴더라고 생각하면 된다. 
#각 요소들은 몇 번째 요소인지에 대한 인덱스를 가지고 있다.
lst_test = [1, 2, 3, 4,'str']

# 리스트 인덱싱
# 변수로 지정한 lst_test의 내부 개별의 값들을 출력하기 위해 원하는 위치의 인덱스(숫자)를 입력,
# 인덱스는 0부터 시작한다.
print(lst_test[0], lst_test[1])

1 2

In [8]:
# 변수로 지정한 lst_test의 여러 값들을 출력하기 위해 ':'를 이용하여 범위 출력
print(lst_test[0:2])

[1, 2]

In [9]:
# 리스트의 인덱스를 호출하고 값을 변화시킬 수 있다.
lst_test[0] = 'update_value'
print(lst_test[0])

update_value

2. 딕셔너리

In [10]:
# 딕셔너리는 {}로 표시되는 데이터 저장공간이다.
# key : value 형식의 구성을 가지며 key 값을 이용하여 value 값을 확인할 수 있다.
dic = {'a' : [1, 2, 3], 'b' : 3}

print(dic['a'])

[1, 2, 3]

## 판다스 기초
### 모듈 import
#### as 는 alias의 축약어이며 긴 모듈이름을 축약해서 사용하기 위해 뒤에 특정 별칭을 위치시킨다.

In [11]:
import pandas as pd

### 데이터 로드
#### csv, txt 파일의 경우 read_csv 함수를 이용한다
##### 한글이 포함된 데이터들은 다양하게 인코딩 되어 있어 파라미터를 넣어줘야 읽히는 경우가 있다.
- encoding = 'utf-8'
- encoding = 'utf-8-sig'
- encoding = 'cp949'
- encoding = 'python'
##### 위의 4가지에서 대부분 읽힌다. 이제부터 사용할 모든 예시 데이터들은 모두 웹상의 url로 읽어온다.
##### csv, txt 파일 등을 읽을 때는 url 대신 해당 파일의 경로를 입력하면 된다.

In [12]:
import warnings
warnings.filterwarnings(action = 'ignore')

In [13]:
# 서울 지하철 노선별 이용 승객
# 출처 https://www.data.go.kr/ 

df = pd.read_csv('https://bit.ly/3qb1qLX',encoding='cp949')

### 데이터 저장
#### to_csv() 함수를 이용합니다. 시험 환경에서는 index = False 옵션을 줘야 불필요 컬럼이 저장되지 않습니다.

In [14]:
df.to_csv('서울 지하철 노선별 이용승객.csv', index = False)

### 데이터 정보 확인
#### 데이터를 로드한 후 데이터의 정보를 확인하기 위한 함수
- head(), tail() 상위 5, 하위 5개의 행을 출력 / 괄호 안에 숫자를 넣으면 그 숫자만큼 출력
- describe() 숫자형 데이터 컬럼들의 최대, 최소, 중앙, 평균, 표준편차, 분산 값 등을 한 번에 확인
- info() 각 컬럼의 데이터 타입 등을 파악
- shape 데이터의 row, columns의 개수를 파악
- isnull().sum() 결측치 숫자를 파악

In [15]:
# 타이타닉 생존자 데이터
# 출처 캐글
df = pd.read_csv('https://bit.ly/3BVZhFY')

In [16]:
# 시험환경이 구름환경이라면 print(df.head(1)) 형식으로 print를 추가해줘야 한다.
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
print(df.shape)

(891, 12)

In [18]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [19]:
print(df.isna().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [20]:
# 구름 idle 환경일 경우 print(df.describe())
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

### 데이터 인덱싱
#### 특정 조건을 만족하는 데이터를 추출, 변환하기 위해서 사용하는 함수
- iloc[행, 열] : 행과 열의 숫자 인덱스를 통해 데이터를 추출한다.
- loc[행, 열] : 행과 열의 문자 인덱스를 통해 데이터를 추출한다.

In [21]:
# 1번째 행과 1번째 열을 출력
df.iloc[0, 0]

1

In [22]:
# 1번째부터 9번째까지의 행과 2번째부터 4번째까지의 열을 출력
# 마지막 숫자 이전까지 출력하기 때문에 9번째 행까지 출력을 원하면 10을 써줘야 한다.
df.iloc[1:10, 2:5]

   Pclass                                               Name     Sex
1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2       3                             Heikkinen, Miss. Laina  female
3       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4       3                           Allen, Mr. William Henry    male
5       3                                   Moran, Mr. James    male
6       1                            McCarthy, Mr. Timothy J    male
7       3                     Palsson, Master. Gosta Leonard    male
8       3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female
9       2                Nasser, Mrs. Nicholas (Adele Achem)  female

In [23]:
# Pclass 컬럼의 모든 값을 출력하는 방법

# 방법 1 ':'만 입력할 경우 모든 범위를 지정
df.loc[:, 'Pclass']

# 방법 2
df['Pclass']

# 방법 3 ':'를 이용하여 전체 행과 3번째 컬럼인 Pclass를 확인하기 위해 2를 입력
df.iloc[:, 2]

0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: int64

### 기초 통계량 확인
#### 판다스의 통계 모듈을 통해 기초 통계량을 확인할 수 있다.
- mean() : 평균
- std() : 표준편차
- var() : 분산
- median() : 중앙값
#### 기본적으로 결측치의 경우를 제외하고 통계량을 추출한다.

In [24]:
# Age 컬럼의 평균
print(df['Age'].mean())

29.69911764705882

In [25]:
# Age 컬럼의 표준편차
print(df['Age'].std())

14.526497332334042

In [26]:
# Age 컬럼의 분산
print(df['Age'].var())

211.01912474630802

In [27]:
# Age 컬럼의 중앙값
print(df['Age'].median())

28.0

### 결측치 처리
- dropna() : 결측치가 존재하는 컬럼을 지운다.
    - 결측치가 존재하는 모든 컬럼을 지우려면 axis = 1, 모든 행을 지우려면 axis = 0의 옵션을 주면 된다.
    - 모든 행 또는 열의 결측치가 존재하는 경우에 지우려면 how = 'all'의 옵션을 주면 된다.
- fillna() : 결측치를 대체하는 방법
    - 평균값으로 대체하려면 괄호 안에 해당 값의 평균 값을 넣으면 된다.

In [28]:
# Age 컬럼의 결측치 확인 / 177개 존재
print(df['Age'].isna().sum())

177

In [29]:
# Age 컬럼의 결측치를 Age 컬럼의 중앙값으로 대체하는 방법
median_value = df['Age'].median()
df['Age'] = df['Age'].fillna(median_value)

print(df['Age'].isna().sum()) # 다시 결측치 숫자를 확인했을 때 0개 존재

0

### 변수형 데이터 범주화
- pd.get_dummies() 함수를 이용하여 데이터화

In [30]:
df['Sex'].head(3)

0      male
1    female
2    female
Name: Sex, dtype: object

In [31]:
pd.get_dummies(df['Sex']).head(3)

   female   male
0   False   True
1    True  False
2    True  False

### sklearn 기초
#### 머신러닝 모델링을 위한 sklearn 모듈에 대한 설명입니다.
#### 수많은 세부 모듈이 존재하지만 빅분기 시험을 위한 최소한의 모델만을 익히겠다고 하신다면
- sklearn.preprocessing.StandardScaler() - 정규화
- sklearn.preprocessing.LabelEncoder() - 라벨 인코딩 : 범주형 변수 컬럼을 수치형 변수로 변환
- sklearn.ensemble.RandomForestClassifier() - 분류
- sklearn.ensemble.RandomForestRegressor() - 회귀
- sklearn.model_selection.train_test_split -  학습 위한 데이터셋 분리
- sklearn.metrics 의 문제에 맞는 세부 모듈
#### 정도 익히시면 됩니다.

### 모듈 구성

sklearn     
│     
├── 01 preprocessing (전처리)     
│   │     
│   ├── 스케일러     
│   │   ├── MinMaxScaler     
│   │   ├── RobustScaler     
│   │   └── StandardScaler     
│   │     
│   └── 인코더     
│       ├── LabelEncoder     
│       └── OneHotEncoder     
│       
├── 02 model_selection (모델링 전처리)     
│   │     
│   ├── 데이터셋 분리     
│   │   ├── KFold     
│   │   ├── StratifiedKFold     
│   │   └── train_test_split     
│   │     
│   └── 하이퍼파라미터 튜닝          
│       └── GridSearchCV     
│     
├── 03 모델학습     
│   │     
│   ├── ensemble     
│   │   ├── AdaBoostClassifier     
│   │   ├── GradientBoostingClassifier     
│   │   ├── RandomForestClassifier     
│   │   └── RandomForestRegressor     
│   │     
│   ├── linear_model     
│   │   ├── LogisticRegression     
│   │   └── RidgeClassifier     
│   │     
│   ├── neighbors     
│   │   └── KNeighborsClassifier     
│   │     
│   ├── svm     
│   │   ├── SVC     
│   │   └── SVR     
│   │     
│   └── tree     
│       ├── DecisionTreeClassifier     
│       ├── DecisionTreeRegressor     
│       ├── ExtraTreeClassifier     
│       └── ExtraTreeRegressor     
│     
├── 04 모델평가     
│   │     
│   ├── metrics     
│   │   ├── accuracy_score     
│   │   ├── classification_report     
│   │   ├── confusion_matrix     
│   │   ├── f1_score     
│   │   ├── log_loss          
│   │   ├── mean_absolute_error     
│   │   ├── mean_squared_error     
│   │   └── roc_auc_score     
│   │     
│   └── model (정의된 모델에서 추출)          
│       ├── predict     
│       └── predict_proba     
│     
└── 05 최종앙상블     
    │     
    └── ensemble     
        ├── StackingClassifier     
        ├── StackingRegressor     
        ├── VotingClassifier     
        └── VotingRegressor

### 모듈 import
#### 모듈이 상당히 많아서 모두 외우기는 어려움
#### 구름환경에서 사용할 모듈을 검색해가면서 하위 모듈들을 찾아갈 수 있다.

In [32]:
# 가장 상위 모듈인 sklearn의 바로 하위 항목을 확인하기 위해서는 아래와 같이 입력
import sklearn
print(sklearn.__all__)

# 중요하게 기억해야 할 하위 모듈은 ensemble, linear_model, metrics, model_selection, preprocessing

['calibration', 'cluster', 'covariance', 'cross_decomposition', 'datasets', 'decomposition', 'dummy', 'ensemble', 'exceptions', 'experimental', 'externals', 'feature_extraction', 'feature_selection', 'gaussian_process', 'inspection', 'isotonic', 'kernel_approximation', 'kernel_ridge', 'linear_model', 'manifold', 'metrics', 'mixture', 'model_selection', 'multiclass', 'multioutput', 'naive_bayes', 'neighbors', 'neural_network', 'pipeline', 'preprocessing', 'random_projection', 'semi_supervised', 'svm', 'tree', 'discriminant_analysis', 'impute', 'compose', 'clone', 'get_config', 'set_config', 'config_context', 'show_versions']

In [33]:
# 원하는 1차 하위 모듈을 찾았다면 2차 하위 모듈을 찾기 위해서는 dir을 이용
from sklearn import preprocessing
print(dir(sklearn.preprocessing))

['Binarizer', 'FunctionTransformer', 'KBinsDiscretizer', 'KernelCenterer', 'LabelBinarizer', 'LabelEncoder', 'MaxAbsScaler', 'MinMaxScaler', 'MultiLabelBinarizer', 'Normalizer', 'OneHotEncoder', 'OrdinalEncoder', 'PolynomialFeatures', 'PowerTransformer', 'QuantileTransformer', 'RobustScaler', 'SplineTransformer', 'StandardScaler', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_csr_polynomial_expansion', '_data', '_discretization', '_encoders', '_function_transformer', '_label', '_polynomial', 'add_dummy_feature', 'binarize', 'label_binarize', 'maxabs_scale', 'minmax_scale', 'normalize', 'power_transform', 'quantile_transform', 'robust_scale', 'scale']

In [34]:
# 최종 하위 모듈을 찾았다면 from ~ import 구문을 이용해서 해당 모듈을 불러옴
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
sc.fit(df[['Fare', 'Age']])

StandardScaler()

### 스케일러
#### sklearn.preprocessing의 스케일러는 StandardScaler, MinMaxScaler, RobustScaler 3가지입니다.
#### 주로 사용하는 스케일러는 StandardScaler이며 3가지 동작 방식 모두 동일합니다.

In [35]:
## 모듈 import
from sklearn.preprocessing import StandardScaler

# 스케일러 정의
sc = StandardScaler()

# 스케일러의 주로 사용하는 내부함수는 fit, transform, fit_transform 세 가지입니다.
# fit_trainform을 이용해서 값을 변환시키고 원래 데이터 프레임 컬럼에 입히는 작업은 다음과 같습니다.

print('변환 전')
display(df[['Fare', 'Age']].head(3))
df[['Fare', 'Age']] = sc.fit_transform(df[['Fare', 'Age']])
print('변환 후')
display(df[['Fare', 'Age']].head(3))

변환 전

      Fare   Age
0   7.2500  22.0
1  71.2833  38.0
2   7.9250  26.0

변환 후

       Fare       Age
0 -0.502445 -0.565736
1  0.786845  0.663861
2 -0.488854 -0.258337

### 라벨 인코더, 원핫 인코더
#### 데이터 범주형 변수를 처리하기 위한 모듈은 sklearn.preprocessing의 LabelEncoder, OneHotEncoder 두 가지입니다.
#### 라벨인코딩은 컬럼 수는 유지하며 내부의 범주형 변수들을 특정 int값으로 매핑하는 것이며
#### 원핫인코딩은 유니크한 범주형 변수들만큼 컬럼을 만들고 일치하는 값일 경우 0, 아닐 경우 1을 사용

! 주의 사항
- 범주형 변수 처리하기 전에 결측치는 채워놓고 사용해야 합니다.
- 스케일러와 동일한 방식으로 사용합니다.
- OneHorEncoder 대신에 판다스의 pd.get_dummies 함수가 더 편리합니다.

In [36]:
from sklearn.preprocessing import LabelEncoder

In [37]:
print('변경 전')
display(df['Sex'][:3])

lb = LabelEncoder()
lb.fit(df['Sex'])

print('label encoding 사용 후')
df['Sex'] = lb.transform(df['Sex'])
display(df['Sex'][:3])

변경 전

0      male
1    female
2    female
Name: Sex, dtype: object

label encoding 사용 후

0    1
1    0
2    0
Name: Sex, dtype: int32

### 학습 데이터 분리
#### sklearn.model_selection의 train_test_split를 사용합니다.
#### 아래의 형식이 기본 형태입니다. X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)
#### stratify = y의 옵션은 층화추출을 하기 위해 분류문제에서 사용해주는 것이 좋습니다.
#### 외우기 어려운 경우 모듈을 import하고 help 함수를 이용해서 위의 부분을 찾고 복붙하면 됩니다.

In [38]:
from sklearn.model_selection import train_test_split
help(train_test_split)

Help on function train_test_split in module sklearn.model_selection._split:

train_test_split(*arrays, test_size=None, train_size=None, random_state=None, shuffle=True, stratify=None)
    Split arrays or matrices into random train and test subsets.

    Quick utility that wraps input validation,
    ``next(ShuffleSplit().split(X, y))``, and application to input data
    into a single call for splitting (and optionally subsampling) data into a
    one-liner.

    Read more in the :ref:`User Guide <cross_validation>`.

    Parameters
    ----------
    *arrays : sequence of indexables with same length / shape[0]
        Allowed inputs are lists, numpy arrays, scipy-sparse
        matrices or pandas dataframes.

    test_size : float or int, default=None
        If float, should be between 0.0 and 1.0 and represent the proportion
        of the dataset to include in the test split. If int, represents the
        absolute number of test samples. If None, the value is set to the
        complement of the train size. If ``train_size`` is also None, it will
        be set to 0.25.

    train_size : float or int, default=None
        If float, should be between 0.0 and 1.0 and represent the
        proportion of the dataset to include in the train split. If
        int, represents the absolute number of train samples. If None,
        the value is automatically set to the complement of the test size.

    random_state : int, RandomState instance or None, default=None
        Controls the shuffling applied to the data before applying the split.
        Pass an int for reproducible output across multiple function calls.
        See :term:`Glossary <random_state>`.

    shuffle : bool, default=True
        Whether or not to shuffle the data before splitting. If shuffle=False
        then stratify must be None.

    stratify : array-like, default=None
        If not None, data is split in a stratified fashion, using this as
        the class labels.
        Read more in the :ref:`User Guide <stratification>`.

    Returns
    -------
    splitting : list, length=2 * len(arrays)
        List containing train-test split of inputs.

        .. versionadded:: 0.16
            If the input is sparse, the output will be a
            ``scipy.sparse.csr_matrix``. Else, output type is the same as the
            input type.

    Examples
    --------
    >>> import numpy as np
    >>> from sklearn.model_selection import train_test_split
    >>> X, y = np.arange(10).reshape((5, 2)), range(5)
    >>> X
    array([[0, 1],
           [2, 3],
           [4, 5],
           [6, 7],
           [8, 9]])
    >>> list(y)
    [0, 1, 2, 3, 4]

    >>> X_train, X_test, y_train, y_test = train_test_split(
    ...     X, y, test_size=0.33, random_state=42)
    ...
    >>> X_train
    array([[4, 5],
           [0, 1],
           [6, 7]])
    >>> y_train
    [2, 0, 3]
    >>> X_test
    array([[2, 3],
           [8, 9]])
    >>> y_test
    [1, 4]

    >>> train_test_split(y, shuffle=False)
    [[0, 1, 2], [3, 4]]

In [39]:
import pandas as pd

df = pd.read_csv('https://bit.ly/3EMMasy')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,60,1,0,140,293,0,0,170,0,1.2,1,2,3,0
1,51,0,2,120,295,0,0,157,0,0.6,2,0,2,1
2,51,1,3,125,213,0,0,125,1,1.4,2,1,2,1
3,59,1,2,150,212,1,1,157,0,1.6,2,0,2,1
4,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0

In [40]:
# pandas의 drop 함수를 이용하여 종속변수를 날리고 독립변수만 모아 X 변수로 지정합니다.

y = df['target']
X = df.drop('target', axis = 1)

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42, stratify = y)

In [42]:
print('df shape',df.shape)
print('X_train shape',X_train.shape)
print('X_test shape',X_test.shape)
print('y_train shape',y_train.shape)
print('y_test shape',y_test.shape)

df shape (242, 14)
X_train shape (162, 13)
X_test shape (80, 13)
y_train shape (162,)
y_test shape (80,)

In [43]:
# 층화 추출이 잘 되었는지 확인해봅시다.

print('원본데이터의 target value 값 개수')
display(df.target.value_counts())
print('학습데이터 target value 값 개수')
display(y_train.value_counts())

원본데이터의 target value 값 개수

target
1    132
0    110
Name: count, dtype: int64

학습데이터 target value 값 개수

target
1    88
0    74
Name: count, dtype: int64

### 모델링 학습
- 모델링의 경우
1. 모델 import
2. 모델 변수 선언
3. fit (학습)
4. predict or predict_proba(분류 문제의 auc 계산을 위한 예측 확률 값)
- 순서로 진행된다.
- 모델 선언 시 하이퍼 파라미터를 지정해 줄 수 있지만 빅분기 시험을 위해서는 기본 모델로 사용해도 무관하다.

In [44]:
# 주로 사용하는 모델 import 과정
from sklearn.ensemble import RandomForestClassifier # 랜덤포레스트 분류
from sklearn.ensemble import RandomForestRegressor  # 랜덤포레스트 회귀

from sklearn.linear_model import LogisticRegression # 로지스틱 회귀
from sklearn.svm import SVC # 서포트 벡터머신 분류
from sklearn.svm import SVR # 서포트 벡터머신 회귀

from sklearn.tree import DecisionTreeClassifier # 의사결정나무 분류
from sklearn.tree import DecisionTreeRegressor # 의사결정나무 회귀

# 모든 모듈을 외우기는 힘들다.
# 위에서 제시한 sklearn 모듈 찾기 방식으로 필요한 모델들을 찾아가면 된다.

### 랜덤포레스트 모델링 예시

In [45]:
# 모델 import
from sklearn.ensemble import RandomForestClassifier

# 모델 변수 선언
rf = RandomForestClassifier()

# fit
rf.fit(X_train, y_train)

# predict
predict_value = rf.predict(X_test)

# predict_proba
predict_proba_value = rf.predict_proba(X_test)

# predict와 predict_proba의 3개 값 확인
print('predict_value',predict_value[:3],'\n')
print('predict_proba_value\n',predict_proba_value[:3],'\n')

predict_value [0 1 0]

predict_proba_value
 [[0.96 0.04]
 [0.06 0.94]
 [0.99 0.01]]

### 모델 평가
#### sklearn.metris에서 문제에서 제시하는 평가 방식을 import해서 사용합니다.
#### 평가방식의 y_test, predict 형식에 대해서는 일부 차이가 있을 수 있는데 지표마다 help 함수를 이용해서 parameter의 형식을 확인하고 코딩해야 합니다.
#### 주로 사용하는 평가 방식
- accuracy_score (정확도)
- f1_score(f1_score)
- mean_absolute_error (mae)
- mean_square_error (mse)

In [47]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_test, predict_proba_value[:, 1])

0.928030303030303